$salmon: #FCA69C;
$light-salmon: #f7b9b9;
$happy-yellow: #FFFF00;
$white: #fff;
$black: #000;
$text-primary: #fff;
$text-secondary: #808080;

// Gray
$gray_10: #C6C6C6;
$gray_20: #7B7B7B;
$gray_transparent_60: rgba(41, 41, 41, 0.6);
$gray_transparent_80: rgba(41, 41, 41, 0.8);